* {
  box-sizing: border-box;
  background-color: #d6cadd;
}

body {
  height: 100%;
  width: 100%;
  background-color: #d6cadd;
  color: #32174d;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #32174d;
}

a:hover {
  color: #838996;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid 1px #838996;
  font-family: 'Quicksand', sans-serif;
  font-size: larger;

}
.nav-links {
  display: flex;
  gap: 15px;
}

section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
}

.main-section {
  height: 720px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 75px;
}

.index-content {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.index-content2 {
  padding-top: 30px;
}

#index-line1 {
  font-size: 25px;
}

#index-line2 {
  font-size: 35px;
}

#index-line3 {
  font-size: 20px;
}

.about-me-button {
  font-size: 25px;
  border: solid 1px #838996;
  border-radius: 10px;
  padding: 5px 15px;
}

.me-image {
  max-width: 21%;
  max-height: 21%;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1),

  0 0 40px rgba(0,0,0,0.1),

  0 0 60px rgba(0,0,0,0.1),

  0 0 80px rgba(0,0,0,0.1);
}

.projects-button-box {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.projects-button {
  font-size: 30px;
  border: solid 1px #838996;
  padding: 5px 25px;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: solid 1px #838996;

}

.copyright {
  font-family: 'Quicksand', sans-serif;
}

.icons {
  display:flex;
  gap: 10px;
  align-items: center;
  font-size: x-large;
}
